<app-navbar></app-navbar>
<div class="container">
    <div class="box form-box">
        <header>
            <div class="header-content">
                <span>เข้าสู่ระบบ</span>
                <div class="logindetail">
                    ไม่มีบัญชี? <a routerLink="/register" class="logindetail2">สมัครสมาชิก</a>
                </div>
            </div>
        </header>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="field input">
                <label for="username">Username</label>
                <input type="text" formControlName="username" placeholder="Username" required>
            </div>

            <div class="field input">
                <label for="password">Password</label>
                <input type="password" formControlName="password" placeholder="Password" required>
            </div>

            <div class="field">
                <input type="submit" class='btn' value="Login">
            </div>
        </form>
    </div>
</div>