<app-navbar></app-navbar>
<div class="container">
  <div class="box form-box">
    <header>
      <div class="header-content">
        <span>ลงทะเบียน</span>
        <div class="logindetail">
          เป็นสมาชิกแล้ว? <a routerLink="/login" class="logindetail2">เข้าสู่ระบบ</a>
        </div>
      </div>
    </header>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="field input">
        <input type="text" placeholder="Username" formControlName="username" required>
      </div>

      <div class="field input">
        <input type="email" placeholder="Email" formControlName="email" required>
      </div>

      <div class="field input">
        <input type="text" placeholder="Phone" formControlName="phone" required>
      </div>

      <div class="field input">
        <input type="text" placeholder="Address" formControlName="address" required>
      </div>

      <div class="field input">
        <input type="text" placeholder="Province" formControlName="province" required>
      </div>

      <div class="field input">
        <input type="text" placeholder="District" formControlName="district" required>
      </div>

      <div class="field input">
        <input type="text" placeholder="Postal code" formControlName="postalCode" required>
      </div>

      <div class="field input">
        <input type="password" placeholder="Password" formControlName="password" required>
      </div>

      <div class="field input">
        <input type="password" placeholder="Confirm password" formControlName="confirmPassword" required>
      </div>

      <div class="field">
        <input type="submit" class='btn' value="register">
      </div>
    </form>
  </div>
</div>